
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>

			

			<!-- 
			=============================================
				Theme Header One
			============================================== 
			-->
			<header class="header-one">
				<div class="top-header">
					<div class="container clearfix">
						<div class="logo float-left"><a href="index.html"><img src="images/logo/logo.png" alt=""></a></div>
						<div class="address-wrapper float-right">

						</div> <!-- /.address-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.top-header -->

				
			</header> <!-- /.header-one -->


			<!-- 
			=============================================
				contact us Section
			============================================== 
			-->
			<div class="contact-us-section section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>Signup</h2>
						
					</div> <!-- /.theme-title-one -->
					<div class="row">
					<div class="col-sm-3"></div>
					<div class="clearfix main-content no-gutters col-sm-6">
						<div class="col-lg-12 col-12">
							<div class="form-wrapper theme-form-one">
								<form class="theme-form-one" autocomplete="off" (submit)="onSubmitAddUser">
									<div class="row">
										<div class="col-sm-12 col-12"><input type="text" placeholder="Nombres *" [(ngModel)]="name" name="nombres"></div>
										<div class="col-sm-12 col-12"><input type="text" placeholder="Apellidos *" [(ngModel)]="lastname" name="lastname"></div>
										<div class="col-sm-12 col-12"><input type="email" placeholder="Email *" [(ngModel)]="email" name="email"></div>
										<div class="col-sm-12 col-12"><input type="password" placeholder="Contraseña *" [(ngModel)]="password" name="password"></div>
										<div class="col-sm-12 col-12"><input type="password" placeholder="Confirmar Contraseña *" [(ngModel)]="confirmpassword"  name="confirmpassword"></div>
									</div> <!-- /.row -->
									<button class="theme-button-one pull-right">Register</button>
								</form>
							</div> <!-- /.form-wrapper -->
						</div> <!-- /.col- -->
					</div> <!-- /.main-content -->
					<div class="col-sm-3"></div>
					</div>
				</div> <!-- /.container -->

				
			</div> <!-- /.contact-us-section -->

	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>
			



		</div> <!-- /.main-page-wrapper -->
